#battleView { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }

#battle { height:400px; }
#battle .border { -moz-border-image:url(../images/border.png) 7 repeat; background-color:black; }

#battle .main { float:left; }

#battle .enemies { float:left; padding:1px 4px; height:272px; }
#battle .enemies .column { float:left; }
#battle .enemies .column.small.single { margin-top:66px; }
#battle .enemies .column.large.second { float:right; }
#battle .enemies .column.fiend { position:relative; margin-top:32px; margin-left:40px; }

#battle .party { width:96px; height:272px; float:left; margin-left:3px; padding:1px 4px; }
#battle .party .background { width:96px; }
#battle .party .char { float:right; clear:right; }

#battle .stats { width:114px; float:left; margin-left:2px; margin-top:34px; }
#battle .stats .charStats { position:relative; z-index:1; padding-bottom:1px; position:relative; z-index:1; background-color:black; }
#battle .stats .charStats.first { z-index:4; }
#battle .stats .charStats.second { z-index:3; }
#battle .stats .charStats.third { z-index:2; }
#battle .stats .charStats .border { width:64px; padding:12px 8px 8px 8px; position:relative; top:-3px; overflow:auto; }
#battle .stats .charStats .name { margin-bottom:1em; height:16px; }
#battle .stats .charStats label.hp { display:block; clear:left; }
#battle .stats .charStats label.hp .shrunk.text { background-image:url(../images/font-battle-status-sheet.png); height:16px; background-repeat:no-repeat; background-position:1000em 1000em; }
#battle .stats .charStats label.hp .shrunk.text.poison { background-position:0 0;  }
#battle .stats .charStats label.hp .shrunk.text.stone { background-position:0 -16px;  }
#battle .stats .charStats div.hp { display:block; clear:left; float:right; }

#battle .input { float:left; clear:both; margin-top:-12px; padding-top:4px; background-color:black; }
#battle .input .enemy.list { float:left; width:128px; height:100px; padding:16px 0 0 12px; }
#battle .input .enemy.list .text { clear:left; height:28px; }
#battle .input .commands { float:left; width:168px; height:100px; margin-left:4px; padding-left:28px; padding-top:16px; }
#battle .input .commands .column { float:left; }
#battle .input .commands .second.column { margin-left:36px; }
#battle .input .commands .text { height:24px; }
#battle .input .commands .text.battle.menu { background-image:url(../images/font-battle-menu-sheet.png); width:73px; height:16px; background-repeat:no-repeat; margin-bottom:8px; }
#battle .input .commands .text.battle.menu.fight { background-position:0 0; }
#battle .input .commands .text.battle.menu.magic { background-position:0 -16px; }
#battle .input .commands .text.battle.menu.drink { background-position:0 -32px; }

#battle .input .spells { width:326px; height:90px; z-index:2; position:absolute; margin:8px 0 0 8px; padding:12px 0 12px 4px; overflow:hidden;}
#battle .input .spells .spell.level { float:left; width:100%; height:26px; }
#battle .input .spells .spell.level .text { float:left; width:80px; }
#battle .input .spells .spell.level .levelNum { width:50px; }
#battle .input .spells .spell.level .numCharges { float:right; width:32px; }

#battle .messages { width:350px; padding-top:8px; clear:both; }
#battle .messages .hidden { display:block; visibility:hidden; }
#battle .messages .message { padding-top:16px; height:24px; padding-left:8px; }
#battle .messages .overlap { position:relative; top:-7px; padding-top:4px; background-color:black; }
#battle .messages .overlap.target { width:146px; clear:left; }
#battle .messages .overlap.damage { padding-right:4px; float:left; width:164px; padding-left:4px; }
#battle .messages .overlap.desc { top:-14px; clear:both; }
#battle .messages .source { float:left; width:132px; }
#battle .messages .target { float:left; width:132px; }
#battle .messages .action { float:right; width:162px; margin-right:24px;}
#battle .messages .damage { width:152px; }

#battle .background { background-image:url(../images/battle-backgrounds.png); overflow:hidden; height:64px; width:224px; background-repeat:no-repeat; background-position:200px 200px; }
#battle .background.castle { background-position:0 0; }
#battle .background.desert { background-position:0 -64px; }
#battle .background.earth.cave { background-position:0 -128px; }
#battle .background.forest { background-position:0 -192px; }
#battle .background.gurgu { background-position:0 -256px; }
#battle .background.ice.cave { background-position:0 -320px; }
#battle .background.marsh.cave { background-position:0 -384px; }
#battle .background.plains { background-position:0 -448px; }
#battle .background.river { background-position:0 -512px; }
#battle .background.sea { background-position:0 -576px; }
#battle .background.sea.shrine { background-position:0 -640px; }
#battle .background.sky.castle { background-position:0 -704px; }
#battle .background.swamp { background-position:0 -768px; }
#battle .background.tof { background-position:0 -832px; }
#battle .background.titan { background-position:0 -896px; }
#battle .background.waterfall { background-position:0 -960px; }

.party .spell { height:34px; overflow:hidden; background-image:url(../images/spell-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; position:relative; right:30px; }
.party .casting .spell { display:block; }
.party .spell.animate { background-image:url(../images/spell-sheet2.png); }

.party .spell.beam { width:32px; }
.party .spell.beam.brak { background-position:0 0; }
.party .spell.beam.fade { background-position:-32px 0; }
.party .spell.beam.harm { background-position:-64px 0; }
.party .spell.beam.hrm2 { background-position:-96px 0; }
.party .spell.beam.hrm3 { background-position:-128px 0; }
.party .spell.beam.hrm4 { background-position:-160px 0; }
.party .spell.beam.lit { background-position:-192px 0; }
.party .spell.beam.lit2 { background-position:-224px 0; }
.party .spell.beam.lit3 { background-position:-256px 0; }

.party .spell.death { width:32px; }
.party .spell.death.rub { background-position:0 -34px; }
.party .spell.death.xxxx { background-position:-32px -34px; }
.party .spell.death.zap { background-position:-64px -34px; }

.party .spell.flame { width:32px; }
.party .spell.flame.fire { background-position:0 -68px; }
.party .spell.flame.fir2 { background-position:-32px -68px; }
.party .spell.flame.fir3 { background-position:-64px -68px; }
.party .spell.flame.ice { background-position:-96px -68px; }
.party .spell.flame.ice2 { background-position:-128px -68px; }
.party .spell.flame.ice3 { background-position:-160px -68px; }
.party .spell.flame.nuke { background-position:-192px -68px; }

.party .spell.healing { width:30px; }
.party .spell.healing.cure { background-position:0 -102px; }
.party .spell.healing.cur2 { background-position:-30px -102px; }
.party .spell.healing.cur3 { background-position:-60px -102px; }
.party .spell.healing.cur4 { background-position:-90px -102px; }
.party .spell.healing.heal { background-position:-120px -102px; }
.party .spell.healing.hel2 { background-position:-150px -102px; }
.party .spell.healing.hel3 { background-position:-180px -102px; }

.party .spell.poof { width:32px; }
.party .spell.poof.amut { background-position:0 -136px; }
.party .spell.poof.lamp { background-position:-32px -136px; }
.party .spell.poof.pure { background-position:-64px -136px; }

.party .spell.protect { width:18px; right:20px; }
.party .spell.protect.afir { background-position:0 -170px; }
.party .spell.protect.aice { background-position:-18px -170px; }
.party .spell.protect.alit { background-position:-36px -170px; }
.party .spell.protect.arub { background-position:-54px -170px; }
.party .spell.protect.fog { background-position:-72px -170px; }
.party .spell.protect.fog2 { background-position:-90px -170px; }
.party .spell.protect.invs { background-position:-108px -170px; }
.party .spell.protect.inv2 { background-position:-126px -170px; }
.party .spell.protect.ruse { background-position:-144px -170px; }
.party .spell.protect.sabr { background-position:-162px -170px; }
.party .spell.protect.wall { background-position:-162px -170px; }

.party .spell.star { width:28px; }
.party .spell.star.fast { background-position:0 -204px; }
.party .spell.star.lock { background-position:-28px -204px; }
.party .spell.star.lok2 { background-position:-56px -204px; }
.party .spell.star.qake { background-position:-84px -204px; }
.party .spell.star.tmpr { background-position:-112px -204px; }
.party .spell.star.xfer { background-position:-140px -204px; }

.party .spell.status { width:32px; }
.party .spell.status.bane { background-position:0 -238px; }
.party .spell.status.blnd { background-position:-32px -238px; }
.party .spell.status.conf { background-position:-64px -238px; }
.party .spell.status.dark { background-position:-96px -238px; }
.party .spell.status.fear { background-position:-128px -238px; }
.party .spell.status.hold { background-position:-160px -238px; }
.party .spell.status.mute { background-position:-192px -238px; }
.party .spell.status.slep { background-position:-224px -238px; }
.party .spell.status.slp2 { background-position:-256px -238px; }
.party .spell.status.slow { background-position:-288px -238px; }
.party .spell.status.slo2 { background-position:-320px -238px; }
.party .spell.status.stop { background-position:-352px -238px; }
.party .spell.status.stun { background-position:-384px -238px; }

.party .weapon { width:32px; height:32px; background-repeat:no-repeat; background-position:1000em 1000em; position:relative; }
.party .attack .weapon { display:block; }
.party .forward .weapon { background-image:url(../images/weapon-sheet.png); right:30px; }
.party .forward.fighter .weapon { top:2px; }
.party .forward.blackbelt .weapon { top:-4px; }
.party .forward.blackbelt .weapon.punch { top:-6px; right:29px;}
.party .forward.knight .weapon { top:-2px; }
.party .forward.ninja .weapon { top:-3px; }
.party .forward.master .weapon { top:-4px; }
.party .forward.master .weapon.punch { top:-5px; right:29px; }

.party .back .weapon { background-image:url(../images/weapon-sheet-back.png); left:30px; top:-29px; }
.party .back .weapon.hammer { top:-22px; left:28px; }

.party .weapon.bane.sword { background-position:0 0; }
.party .weapon.coral.sword { background-position:-32px 0; }
.party .weapon.dragon.sword { background-position:-64px 0; }
.party .weapon.rapier { background-position:-96px 0; }
.party .weapon.saber { background-position:-96px 0; }
.party .weapon.giant.sword { background-position:0 -32px; }
.party .weapon.were.sword { background-position:-32px -32px; }
.party .weapon.defense { background-position:-64px -32px; }
.party .weapon.short.sword { background-position:-96px -32px; }
.party .weapon.ice.sword { background-position:0 -64px; }
.party .weapon.sun.sword { background-position:-32px -64px; }
.party .weapon.silver.sword { background-position:-64px -64px; }
.party .weapon.long.sword { background-position:-96px -64px; }
.party .weapon.excalibur { background-position:-128px -64px; }
.party .weapon.vorpal { background-position:0px -96px; }
.party .weapon.rune.sword { background-position:-32px -96px; }
.party .weapon.flame.sword { background-position:-64px -96px; }
.party .weapon.falchion { background-position:-96px -96px; }
.party .weapon.masamune { background-position:0px -128px; }
.party .weapon.scimitar { background-position:-32px -128px; }
.party .weapon.catclaw { background-position:0 -160px; }
.party .weapon.silver.dagger { background-position:0 -160px; }
.party .weapon.katana { background-position:-32px -160px; }
.party .weapon.large.dagger { background-position:-64px -160px; }
.party .weapon.small.dagger { background-position:-64px -160px; }
.party .weapon.silver.axe { background-position:0px -192px; }
.party .weapon.light.axe { background-position:-32px -192px; }
.party .weapon.great.axe { background-position:-64px -192px; }
.party .weapon.hand.axe { background-position:-96px -192px; }
.party .weapon.silver.hammer { background-position:0px -224px; }
.party .weapon.thor.hammer { background-position:-32px -224px; }
.party .weapon.iron.hammer { background-position:-64px -224px; }
.party .weapon.wooden.staff { background-position:0px -256px; }
.party .weapon.power.staff { background-position:-32px -288px; }
.party .weapon.wizard.staff { background-position:0px -288px; }
.party .weapon.heal.staff { background-position:-32px -288px; }
.party .weapon.mage.staff { background-position:-64px -288px; }
.party .weapon.iron.staff { background-position:-96px -288px; }
.party .weapon.wooden.nunchucks { background-position:0px -320px; }
.party .weapon.iron.nunchucks { background-position:-32px -320px; }
.party .weapon.punch { background-position:-64px -320px; }

