#debug { float:left; width:50%; height:100%; background-color:white; }
#debug .menu { list-style-type:none; margin:0; padding:0; float:left; padding-top:2em; text-align:right; margin-left:1em; }
#debug .menu a { color:blue; text-decoration:none; font-size:0.8em; padding:0.2em 1em 0.4em 0; width:9em; display:block; }
#debug .menu a:hover { text-decoration:underline; }
#debug .menu .selected { background-color:black; color:white; }
#debug .menu .selected a { color:white; font-weight:bold; padding-left:8px; }
#debug .menu .selected a:hover { text-decoration:none; }
#debug section { float:left; border:1px solid black; width:65%; margin-top:1em; padding:1em; }

#debug .movement .directions { position:relative; height:10em;}
#debug .movement .directions a { width:3em; height:1.2em; text-decoration:none; background-color:green; padding:0.2em; color:white; position:absolute; text-align:center;} 
#debug .movement .directions a.left { top:2em; }
#debug .movement .directions a.right { top:2em; left:8em; }
#debug .movement .directions a.down { left:4em; top:4em; }
#debug .movement .directions a.up { left:4em; }

#debug .world-map .tilesets { font-size:0.5em; border-left:1px solid black; border-top:1px solid black; height:auto; width:208px; height:149px; margin-top:1em; margin-bottom:1em;}
#debug .world-map .tilesets .row { clear:both; }
#debug .world-map .tilesets .row .tileset { float:left; width:25px; height:1.8em; border-right:1px solid black; border-bottom:1px solid black; text-align:center; padding-top:0.4em; cursor:pointer; }
#debug .world-map .tilesets .row .tileset.selected { background-color:blue; color:white; }
#debug .world-map .tilesets .row p:hover { background-color:black; color:white; }

#debug .world-map .map { margin-top:1em; width:272px; height:272px; position:relative; }
#debug .world-map .map.loaded { border-left:1px solid black; border-top:1px solid black; }
#debug .world-map .map .row { clear:both; }
#debug .world-map .map .row p { width:16px; height:16px; float:left; text-align:center; border-right:1px solid black; border-bottom:1px solid black; cursor:default; }
#debug .world-map .map.no-border { border:none; }
#debug .world-map .map.no-border .row p { border:none; }
#debug .world-map .map .tile.selected { opacity:0.4; }

#debug .world-map .tile.properties .container { float:left; }
#debug .world-map .tile.properties p { clear:both; }
#debug .world-map .tile.properties label { float:left; display:block; width:7em; text-align:right; }
#debug .world-map .tile.properties span { float:left; display:block; margin-left:0.6em; }
#debug .world-map .tile.properties .surrounding { float:right; position:relative; width:6em; }
#debug .world-map .tile.properties .surrounding p { border:1px solid black; padding:0.2em; text-align:center; position:absolute; width:1em;}
#debug .world-map .tile.properties .surrounding p.top { left:1.5em; top:2px; border-bottom:none; }
#debug .world-map .tile.properties .surrounding p.left { top:1.6em; left:2px; border-right:none; }
#debug .world-map .tile.properties .surrounding p.right { top:1.6em; left:3em; border-left:none; } 
#debug .world-map .tile.properties .surrounding p.bottom { top:3.2em; left:1.5em; border-top:none; }

#debug .coords .row { clear:both; height:1.6em; }
#debug .coords label { width:6em; display:block; float:left; text-align:right; }
#debug .coords input { width:2em; display:block; float:left; margin-left:1em; }

#debug .messages .text { background-color:navy; padding:0.4em; margin-bottom:0.2em; overflow:auto; }

#debug .enemiesSplash .row { clear:both; margin-bottom:1em; overflow:auto; }
#debug .enemiesSplash label { float:left; width:9em; text-align:right; margin-right:0.4em; }
#debug .enemiesSplash select { float:left; margin-left:1em; }
#debug .enemiesSplash input { float:left; margin-left:1em; }
#debug .enemiesSplash .monster { float:left; margin-left:1.6em; }

#debug .battleSetup .selector { margin-left:1em; }
#debug .battleSetup .party { margin-bottom:1em; border-collapse:collapse; }
#debug .battleSetup .party th { font-size:0.8em; padding-left:1em; }
#debug .battleSetup .party .label { width:8em; text-align:right; }
#debug .battleSetup .row { clear:both; height:2em; }
#debug .battleSetup .row label { float:left; width:8em; text-align:right; }
#debug .battleSetup .row .selector { float:left; width:12em; }
#debug .battleSetup .row .selectors { float:left; }
#debug .battleSetup .row .selectors div { height:1.6em; }
#debug .battleSetup .row .selectors .selector { float:none; }
#debug .battleSetup .row .qty { width:2em; margin-left:1em; }
#debug .battleSetup .background.row .selector { width:13em; }
#debug .battleSetup .small.row { height:4em; }
#debug .battleSetup .small.row .selectors { float:left; }
#debug .battleSetup .small.row .selectors div { height:1.6em; }
#debug .battleSetup .small.row .selectors .selector { float:none; }
#debug .battleSetup .button { display:block; margin-bottom:0.6em; }

#debug section.spellEffects { background-color:black; }
#debug .spellEffects .container { padding:0.8em; overflow:auto; }
#debug .spellEffects .row { margin-bottom:2em; }
#debug .spellEffects .effect { float:left; margin-right:0.6em; margin-bottom:0.6em; text-align:center;  }
#debug .spellEffects .party .spell { right:0; }
#debug .spellEffects label { color:white; font-size:0.75em;}

#debug section.weapons { background-color:black; }
#debug .weapons .container { overflow:auto; padding:2em 0 0 2em; }
#debug .weapons .container .row { margin-bottom:1em; }
#debug .weapons .container label { color:white; }
#debug .weapons .stances .char { float:left; margin-right:2.5em; margin-bottom:1em; }

#debug section.weaponAnimations { background-color:black; }
#debug .weaponAnimations .container { overflow:auto; padding:2em 0 0 2em; }
#debug .weaponAnimations .container .row { margin-bottom:1em; }
#debug .weaponAnimations .container label { color:white; }
#debug .weaponAnimations .stances .char { float:left; margin-right:2.5em; margin-bottom:1em; }

#debug .animations button { display:block; margin-bottom:1em; }

#debug .battleMessages p { height:30px; clear:both; }
#debug .battleMessages p label { width:6em; float:left; text-align:right; margin-right:1em; }
#debug .battleMessages p input { width:150px; float:left; }

#debug .actions button { display:block; margin-bottom:1em; }