.menu .shrunk.text { background-image:url("../images/font-char-menu.png"); background-repeat:no-repeat; width:100%; height:16px; }
.menu .shrunk.weapon.text { background-position:0 0; }
.menu .shrunk.status.text { background-position:0 -16px; }

#charMenu { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }

#charMenu .left { float:left; margin-top:26px; }
#charMenu .right { float:left; width:350px; margin-left:8px; }

#charMenu .orbs { width:87px; height:84px; margin:0 0 8px 12px; padding:20px 0 0 23px; }
#charMenu .orbs .orb { width:32px; height:32px; float:left; background-image:url("../images/orbs.png"); background-position:-128px 0; }
#charMenu .orbs .fire.orb.lit { background-position:0 0; }
#charMenu .orbs .water.orb.lit { background-position:-32px 0; }
#charMenu .orbs .wind.orb.lit { background-position:-64px 0; }
#charMenu .orbs .earth.orb.lit { background-position:-96px 0; }

#charMenu .gold { width:130px; height:36px; padding:16px 0 0 4px; margin-bottom:8px; }

#charMenu .options { padding:30px 0 0 26px; width:84px; position:relative; height:167px; margin-left:12px; }
#charMenu .options .option { height:32px; }
#charMenu .options .option.weapon .cursor { top:-16px; }
#charMenu .options .option.status .cursor { top:-16px; }

#charMenu .char.profile { width:134px; height:180px; float:left; margin:0 8px 8px 0; padding:16px 0 0 4px; position:relative; }
#charMenu .char.profile div { overflow:auto; }
#charMenu .char.profile .name { height:30px; }
#charMenu .char.profile .level { height:30px; }
#charMenu .char.profile .magic.label { margin-top:32px; }
#charMenu .char.profile .char.class { width:34px; height:50px; top:16px; right:20px; position:absolute; padding:0; margin:0; }
#charMenu .char.profile .cursor { position:absolute; top:0; }

.equipment.menu { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }
.equipment.menu .title { height:20px; width:80px; padding:20px 10px 2px 10px; float:left; margin-bottom:12px; }
.equipment.menu .actions { height:20px; width:326px; padding:20px 0 2px 36px; float:left; margin-left:6px; }
.equipment.menu .actions .text { display:inline-block; position:relative; }
.equipment.menu .actions .trade.text { margin:0 36px; }
.equipment.menu .actions .text .cursor { position:absolute; }
.equipment.menu .char { clear:both; margin-top:12px; overflow:auto; }
.equipment.menu .char .overlap { width:118px; height:50px; float:left; z-index:2; position:relative; background-color:black; }
.equipment.menu .char .overlap .name { height:20px; padding:20px 0 2px 24px; width:86px; }
.equipment.menu .char .items { height:52px; width:354px; padding:18px 0 2px 10px; float:left; left:-16px; position:relative; z-index:1; margin-left:8px;}
.equipment.menu .char .items .slot { float:left; width:148px; height:16px; margin-bottom:10px; padding-left:28px; position:relative; }
.equipment.menu .char .items .slot .equipped { width:32px; height:20px; float:left; }
.equipment.menu .char .items .slot .cursor { position:absolute; left:-5px; top:-2px; }
.equipment.menu .char .items .slot .originalCursor { position:absolute; left:-10px; top:-2px; }
.equipment.menu .char .items .flicker .cursor,
.equipment.menu .char .items .flicker .originalCursor { -moz-animation:cursorFlicker; -moz-animation-duration:100ms; -moz-animation-iteration-count:infinite; }

#magicMenu { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }
#magicMenu .overlap { width:118px; height:50px; float:left; z-index:2; position:relative; background-color:black; }
#magicMenu .name { height:20px; padding:20px 0 2px 24px; width:86px; }
#magicMenu .magic { width:400px; height:250px; margin-top:30px; padding:20px 0 0 24px;}
#magicMenu .magic .row { height:20px; padding-bottom:10px; }
#magicMenu .magic .charges { margin:0 40px 0 16px; display:inline-block; }
#magicMenu .magic .spells { display:inline-block; position:relative; }
#magicMenu .magic .spells .cursor { position:absolute; }
#magicMenu .magic .spells .spell { display:inline-block; position:relative; width:64px; height:16px; }
#magicMenu .magic .spells .spell.middle { padding:0 16px 0 32px; }
#magicMenu .magic .spells .spell.middle .cursor { left:0px; }

#itemMenu { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }
#itemMenu .overlap { width:118px; height:50px; float:left; z-index:2; position:relative; background-color:black; }
#itemMenu .title { height:20px; padding:20px 0 2px 8px; width:102px; }
#itemMenu .inventory { width:420px; height:250px; margin-top:30px; padding:30px 0 0 40px; }
#itemMenu .inventory .item { width:140px; height:30px; float:left;}
#itemMenu .inventory .item .cursor { top:2px; }

#statusMenu { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }
#statusMenu .name { height:20px; padding:20px 0 20px 24px; width:86px; float:left; margin-bottom:12px;}
#statusMenu .charClass { height:54px; padding:4px 0 2px 16px; width:186px; float:left; margin:0 8px; }
#statusMenu .charClass .char { float:left; }
#statusMenu .charClass .value { float:right; padding-right:16px; padding-top:16px; }
#statusMenu .level { height:20px; padding:20px 0 20px 8px; width:102px; float:left; }
#statusMenu .level .value { float:right; padding-right:8px; }
#statusMenu .exp { height:48px; padding:20px 0 20px 24px; width:326px; clear:left; margin-left:50px; margin-bottom:12px; }
#statusMenu .exp .text { float:left; }
#statusMenu .exp .text.next { float:left; clear:both; margin-top:16px; }
#statusMenu .exp .value { float:right; padding-right:20px; }
#statusMenu .exp .next + .value { margin-top:16px; }
#statusMenu .stats { float:left; height:148px; width:170px; padding:16px 20px; }
#statusMenu .stats .label { float:left; clear:left; margin-bottom:16px; }
#statusMenu .stats .value { float:right; }
#statusMenu .stats.primary { clear:both; margin-right:8px; }
#statusMenu .stats.secondary { width:186px; }