.menu .shrunk.text { background-image:url("../images/font-char-menu.png"); background-repeat:no-repeat; width:100%; height:16px; }
.menu .shrunk.weapon.text { background-position:0 0; }
.menu .shrunk.status.text { background-position:0 -16px; }

#charMenu { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }

#charMenu .left { float:left; margin-top:26px; }
#charMenu .right { float:left; width:350px; margin-left:8px; }

#charMenu .orbs { width:87px; height:84px; margin:0 0 8px 12px; padding:20px 0 0 23px; }
#charMenu .orbs .orb { width:32px; height:32px; float:left; background-image:url("../images/orbs.png"); background-position:-128px 0; }
#charMenu .orbs .fire.orb.lit { background-position:0 0; }
#charMenu .orbs .water.orb.lit { background-position:-32px 0; }
#charMenu .orbs .wind.orb.lit { background-position:-64px 0; }
#charMenu .orbs .earth.orb.lit { background-position:-96px 0; }

#charMenu .gold { width:130px; height:36px; padding:16px 0 0 4px; margin-bottom:8px; }

#charMenu .options { padding:30px 0 0 26px; width:84px; position:relative; height:167px; margin-left:12px; }
#charMenu .options .option { height:32px; }
#charMenu .options .option.weapon .cursor { top:-16px; }
#charMenu .options .option.status .cursor { top:-16px; }

#charMenu .char.profile { width:134px; height:180px; float:left; margin:0 8px 8px 0; padding:16px 0 0 4px; position:relative; }
#charMenu .char.profile div { overflow:auto; }
#charMenu .char.profile .name { height:30px; }
#charMenu .char.profile .level { height:30px; }
#charMenu .char.profile .magic.label { margin-top:32px; }
#charMenu .char.profile .char.class { width:34px; height:50px; top:16px; right:20px; position:absolute; padding:0; margin:0; }


.equipment.menu { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }
.equipment.menu .title { height:20px; width:80px; padding:20px 10px 2px 10px; float:left; margin-bottom:12px; }
.equipment.menu .actions { height:20px; width:310px; padding:20px 0 2px 30px; float:left; margin-left:6px; }
.equipment.menu .actions .text { display:inline-block; position:relative; }
.equipment.menu .actions .trade.text { margin:0 32px; }
.equipment.menu .actions .text .cursor { position:absolute; }
.equipment.menu .char { clear:both; margin-top:12px; overflow:auto; }
.equipment.menu .char .overlap { width:118px; height:50px; float:left; z-index:2; position:relative; background-color:black; }
.equipment.menu .char .overlap .name { height:20px; padding:20px 0 2px 24px; width:86px; }
.equipment.menu .char .items { height:52px; width:324px; padding:18px 0 2px 18px; float:left; left:-16px; position:relative; z-index:1; margin-left:8px;}
.equipment.menu .char .items .text { float:left; margin-right:16px; margin-bottom:10px;}

