.text p { width:16px; height:16px; float:left; overflow:hidden; background-image:url(../images/font-sheet.png); background-repeat:no-repeat; }

.text p.space { background-position:1000px 1000px; width:16px; }
.text p.newline { clear:left; }

.text p.A { background-position:0 0; }
.text p.B { background-position:-16px 0; }
.text p.C { background-position:-32px 0; }
.text p.D { background-position:-48px 0; }
.text p.E { background-position:-64px 0; }
.text p.F { background-position:-80px 0; }
.text p.G { background-position:-96px 0; }
.text p.H { background-position:-112px 0; }
.text p.I { background-position:-128px 0; }
.text p.J { background-position:-144px 0; }
.text p.K { background-position:-160px 0; }
.text p.L { background-position:-176px 0; }
.text p.M { background-position:-192px 0; }
.text p.N { background-position:-208px 0; }
.text p.O { background-position:-224px 0; }
.text p.P { background-position:-240px 0; }
.text p.Q { background-position:-256px 0; }
.text p.R { background-position:-272px 0; }
.text p.S { background-position:-288px 0; }
.text p.T { background-position:-304px 0; }
.text p.U { background-position:-320px 0; }
.text p.V { background-position:-336px 0; }
.text p.W { background-position:-352px 0; }
.text p.X { background-position:-368px 0; }
.text p.Y { background-position:-384px 0; }
.text p.Z { background-position:-400px 0; }

.text p.small.A { background-position:0 -16px; }
.text p.small.B { background-position:-16px -16px; }
.text p.small.C { background-position:-32px -16px; }
.text p.small.D { background-position:-48px -16px; }
.text p.small.E { background-position:-64px -16px; }
.text p.small.F { background-position:-80px -16px; }
.text p.small.G { background-position:-96px -16px; }
.text p.small.H { background-position:-112px -16px; }
.text p.small.I { background-position:-128px -16px; }
.text p.small.J { background-position:-144px -16px; }
.text p.small.K { background-position:-160px -16px; }
.text p.small.L { background-position:-176px -16px; }
.text p.small.M { background-position:-192px -16px; }
.text p.small.N { background-position:-208px -16px; }
.text p.small.O { background-position:-224px -16px; }
.text p.small.P { background-position:-240px -16px; }
.text p.small.Q { background-position:-256px -16px; }
.text p.small.R { background-position:-272px -16px; }
.text p.small.S { background-position:-288px -16px; }
.text p.small.T { background-position:-304px -16px; }
.text p.small.U { background-position:-320px -16px; }
.text p.small.V { background-position:-336px -16px; }
.text p.small.W { background-position:-352px -16px; }
.text p.small.X { background-position:-368px -16px; }
.text p.small.Y { background-position:-384px -16px; }
.text p.small.Z { background-position:-400px -16px; }

.text p.zero { background-position:0 -32px; }
.text p.one { background-position:-16px -32px; }
.text p.two { background-position:-32px -32px; }
.text p.three { background-position:-48px -32px; }
.text p.four { background-position:-64px -32px; }
.text p.five { background-position:-80px -32px; }
.text p.six { background-position:-96px -32px; }
.text p.seven { background-position:-112px -32px; }
.text p.eight { background-position:-128px -32px; }
.text p.nine { background-position:-144px -32px; }
.text p.period { background-position:-160px -32px; }
.text p.comma { background-position:-176px -32px; }
.text p.apostrophe { background-position:-192px -32px; }
.text p.exclamation { background-position:-208px -32px; }
.text p.question { background-position:-224px -32px; }
.text p.dash { background-position:-240px -32px; }
.text p.ellipsis { background-position:-256px -32px; }
.text p.slash { background-position:-272px -32px; }

.text p.dagger { background-position:0 -48px; }
.text p.hammer { background-position:-16px -48px; }
.text p.armor { background-position:-32px -48px; }
.text p.axe { background-position:-48px -48px; }
.text p.gauntlet { background-position:-64px -48px; }
.text p.helmet { background-position:-80px -48px; }
.text p.potion { background-position:-96px -48px; }
.text p.ring { background-position:-112px -48px; }
.text p.shirt { background-position:-128px -48px; }
.text p.staff { background-position:-144px -48px; }
.text p.nunchucks { background-position:-160px -48px; }
.text p.shield { background-position:-176px -48px; }
