.message p { width:16px; height:16px; float:left; overflow:hidden; background-image:url(../images/font-sheet.png); background-repeat:no-repeat; }

.message p.space { background-position:1000px 1000px; }
.message p.newline { clear:left; }

.message p.A { background-position:0 0; }
.message p.B { background-position:-16px 0; }
.message p.C { background-position:-32px 0; }
.message p.D { background-position:-48px 0; }
.message p.E { background-position:-64px 0; }
.message p.F { background-position:-80px 0; }
.message p.G { background-position:-96px 0; }
.message p.H { background-position:-112px 0; }
.message p.I { background-position:-128px 0; }
.message p.J { background-position:-144px 0; }
.message p.K { background-position:-160px 0; }
.message p.L { background-position:-176px 0; }
.message p.M { background-position:-192px 0; }
.message p.N { background-position:-208px 0; }
.message p.O { background-position:-224px 0; }
.message p.P { background-position:-240px 0; }
.message p.Q { background-position:-256px 0; }
.message p.R { background-position:-272px 0; }
.message p.S { background-position:-288px 0; }
.message p.T { background-position:-304px 0; }
.message p.U { background-position:-320px 0; }
.message p.V { background-position:-336px 0; }
.message p.W { background-position:-352px 0; }
.message p.X { background-position:-368px 0; }
.message p.Y { background-position:-384px 0; }
.message p.Z { background-position:-400px 0; }

.message p.small.A { background-position:0 -16px; }
.message p.small.B { background-position:-16px -16px; }
.message p.small.C { background-position:-32px -16px; }
.message p.small.D { background-position:-48px -16px; }
.message p.small.E { background-position:-64px -16px; }
.message p.small.F { background-position:-80px -16px; }
.message p.small.G { background-position:-96px -16px; }
.message p.small.H { background-position:-112px -16px; }
.message p.small.I { background-position:-128px -16px; }
.message p.small.J { background-position:-144px -16px; }
.message p.small.K { background-position:-160px -16px; }
.message p.small.L { background-position:-176px -16px; }
.message p.small.M { background-position:-192px -16px; }
.message p.small.N { background-position:-208px -16px; }
.message p.small.O { background-position:-224px -16px; }
.message p.small.P { background-position:-240px -16px; }
.message p.small.Q { background-position:-256px -16px; }
.message p.small.R { background-position:-272px -16px; }
.message p.small.S { background-position:-288px -16px; }
.message p.small.T { background-position:-304px -16px; }
.message p.small.U { background-position:-320px -16px; }
.message p.small.V { background-position:-336px -16px; }
.message p.small.W { background-position:-352px -16px; }
.message p.small.X { background-position:-368px -16px; }
.message p.small.Y { background-position:-384px -16px; }
.message p.small.Z { background-position:-400px -16px; }

.message p.zero { background-position:0 -32px; }
.message p.one { background-position:-16px -32px; }
.message p.two { background-position:-32px -32px; }
.message p.three { background-position:-48px -32px; }
.message p.four { background-position:-64px -32px; }
.message p.five { background-position:-80px -32px; }
.message p.six { background-position:-96px -32px; }
.message p.seven { background-position:-112px -32px; }
.message p.eight { background-position:-128px -32px; }
.message p.nine { background-position:-144px -32px; }
.message p.period { background-position:-160px -32px; }
.message p.comma { background-position:-176px -32px; }
.message p.apostrophe { background-position:-192px -32px; }
.message p.exclamation { background-position:-208px -32px; }
.message p.question { background-position:-224px -32px; }
.message p.dash { background-position:-240px -32px; }
.message p.ellipsis { background-position:-256px -32px; }

.message p.sword { background-position:0 -48px; }
.message p.hammer { background-position:-16px -48px; }
.message p.armor { background-position:-32px -48px; }
.message p.axe { background-position:-48px -48px; }
.message p.gauntlet { background-position:-64px -48px; }
.message p.helmet { background-position:-80px -48px; }
.message p.potion { background-position:-96px -48px; }
.message p.ring { background-position:-112px -48px; }
.message p.shirt { background-position:-128px -48px; }
.message p.staff { background-position:-144px -48px; }
.message p.nunchucks { background-position:-160px -48px; }
