#shop { width:47%; height:100%; float:left; margin:1% 0 1% 2em; }
#shop .type { background-color:#4A004B; height:20px; width:100px; padding:20px 10px 2px 10px; margin-left:26%;}
#shop .npc.dialog { width:116px; height:150px; padding:20px 0px 2px 8px; position:relative; top:-16px; float:left; }
#shop .npc.sprite { width:94px; height:128px; background-image:url(../images/shop-npcs.png); background-position:100em 100em; float:left; margin-top:36px; margin-left:20px;}
#shop .party { float:left; height:156px; width:80px; margin-top:18px;}
#shop .party .char { float:left; }
#shop .party .char.first { margin-top:50px; margin-bottom:36px;}
#shop .prices { float:left; }
#shop .menu { clear:left; float:left; width:116px; height:110px; padding:20px 0px 2px 8px; margin-left:80px; margin-top:20px;}
#shop .menu .option { height:30px; }
#shop .gold { background-color:#003208; float:left; width:136px; height:20px; padding:16px 0px 2px 8px; margin-top:114px; margin-left:60px; }

#shop .armor .npc.sprite { background-position:0 0; }
#shop .clinic .npc.sprite { background-position:-94px 0; }
#shop .inn .npc.sprite { background-position:-188px 0; }
#shop .weapon .npc.sprite { background-position:-282px 0; }
