#map { width:37%; height:100%; float:left; overflow:auto; margin-top:2em; margin-left:2em; position:relative; }
#map .background { position:relative; }
#map.town .background { width:302px; height:302px; background-image:url(../images/town-background.png); }
#map .background .transition { background-color:black; width:302px; height:151px; position:absolute; }
#map .background .transition.top { top:-151px; }
#map .background .transition.top.displayed { top:0; }
#map .background .transition.bottom { bottom:-151px; }
#map .background .transition.bottom.displayed { bottom:0px; }

#map .player { position:absolute; top:112px; left:112px; }

#map .background .transition {
  -moz-transition: top 1s linear, bottom 1s linear;
  -webkit-transition: top 1s linear, bottom 1s linear;
}