#world { width:50%; height:100%; float:left; overflow:auto; }
#view { background-color:blue; margin:2em; width:318px; height:318px; overflow:hidden; background-image:url(../images/ff_entire_map.png); }
#player { width:16px; height:16px; background-color:red; margin-top:160px; margin-left:160px;}
