.map .tileset { float:left; }
.map .row { clear:both; }
.map .tile { width:16px; height:16px; float:left; background-image:url(../../images/map-tiles.png); background-position:16px 16px; background-repeat:no-repeat; overflow:hidden; }
.map .tile.unknown { background-image:none; background-color:black; }
