#map.coneria-castle .tile { background-image:url(../../images/castle-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.coneria-castle .tile.road { background-position:-64px 0px; } 
#map.coneria-castle .tile.grass { background-position:-64px -96px; } 
#map.coneria-castle .tile.pillar { background-position:-64px -32px; } 
#map.coneria-castle .tile.wall { background-position:-64px -16px; } 
#map.coneria-castle .tile.wall.left { background-position:-48px -16px; } 
#map.coneria-castle .tile.wall.right { background-position:-80px -16px; } 
#map.coneria-castle .tile.wall.road.left { background-position:-48px 0px; } 
#map.coneria-castle .tile.wall.road.right { background-position:-80px 0px; } 
#map.coneria-castle .tile.stairs.up { background-position:-80px -32px; } 
#map.coneria-castle .tile.door { background-position:-48px -48px; } 
#map.coneria-castle .tile.stool.right { background-position:-16px -16px; } 
#map.coneria-castle .tile.stool.left { background-position:-16px -16px; } 
#map.coneria-castle .tile.chest { background-position:-16px -16px; } 
#map.coneria-castle .tile.bed.top { background-position:-16px -16px; } 
#map.coneria-castle .tile.bed.bottom { background-position:-16px -16px; } 
#map.coneria-castle .tile.table.top { background-position:-16px -16px; } 
#map.coneria-castle .tile.table.bottom { background-position:-16px -16px; } 
#map.coneria-castle .tile.statue.left { background-position:-16px -16px; } 
#map.coneria-castle .tile.statue.right { background-position:-16px -16px; } 
#map.coneria-castle .tile.fireplace { background-position:-16px -16px; } 
#map.coneria-castle .tile.room { background-position:-16px -16px; } 
#map.coneria-castle .tile.room.wall.tl { background-position:0px 0px; } 
#map.coneria-castle .tile.room.wall.top { background-position:-16px 0px; } 
#map.coneria-castle .tile.room.wall.tr { background-position:-32px 0px; } 
#map.coneria-castle .tile.room.wall.left { background-position:0px -16px; } 
#map.coneria-castle .tile.room.wall.right { background-position:-32px -16px; } 
#map.coneria-castle .tile.room.wall.bl { background-position:0px -32px; } 
#map.coneria-castle .tile.room.wall.bottom { background-position:-16px -32px; } 
#map.coneria-castle .tile.room.wall.br { background-position:-32px -32px; }
#map.coneria-castle.indoor .tile.door { background-position:-64px -48px; } 
#map.coneria-castle.indoor .tile.stool.right { background-position:-48px -80px; } 
#map.coneria-castle.indoor .tile.stool.left { background-position:-80px -80px; } 
#map.coneria-castle.indoor .tile.chest { background-position:-64px -80px; } 
#map.coneria-castle.indoor .tile.bed.top { background-position:-80px -96px; } 
#map.coneria-castle.indoor .tile.bed.bottom { background-position:-80px -112px; } 
#map.coneria-castle.indoor .tile.table.top { background-position:-48px -96px; } 
#map.coneria-castle.indoor .tile.table.bottom { background-position:-48px -112px; } 
#map.coneria-castle.indoor .tile.statue.left { background-position:-80px -64px; } 
#map.coneria-castle.indoor .tile.statue.right { background-position:-48px -64px; } 
#map.coneria-castle.indoor .tile.fireplace { background-position:-64px -64px; }
#map.coneria-castle.indoor .tile.room { background-position:-16px -64px; }
#map.coneria-castle.indoor .tile.room.wall.tl { background-position:0px -48px; } 
#map.coneria-castle.indoor .tile.room.wall.top { background-position:-16px -48px; } 
#map.coneria-castle.indoor .tile.room.wall.tr { background-position:-32px -48px; } 
#map.coneria-castle.indoor .tile.room.wall.left { background-position:0px -64px; } 
#map.coneria-castle.indoor .tile.room.wall.right { background-position:-32px -64px; } 
#map.coneria-castle.indoor .tile.room.wall.bl { background-position:0px -80px; } 
#map.coneria-castle.indoor .tile.room.wall.bottom { background-position:-16px -80px; } 
#map.coneria-castle.indoor .tile.room.wall.br { background-position:-32px -80px; }

#map.coneria-castle-2f .tile { background-image:url(../../images/castle-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.coneria-castle-2f .tile.none { background-position:-64px -112px; } 
#map.coneria-castle-2f .tile.road { background-position:-64px 0px; } 
#map.coneria-castle-2f .tile.pillar { background-position:-64px -32px; } 
#map.coneria-castle-2f .tile.wall { background-position:-64px -16px; } 
#map.coneria-castle-2f .tile.wall.left { background-position:-48px -16px; } 
#map.coneria-castle-2f .tile.wall.right { background-position:-80px -16px; } 
#map.coneria-castle-2f .tile.wall.road.left { background-position:-48px 0px; } 
#map.coneria-castle-2f .tile.wall.road.right { background-position:-80px 0px; } 
#map.coneria-castle-2f .tile.stairs.down { background-position:-80px -48px; } 
#map.coneria-castle-2f .tile.door { background-position:-48px -48px; } 
#map.coneria-castle-2f .tile.statue.left { background-position:-16px -16px; } 
#map.coneria-castle-2f .tile.statue.right { background-position:-16px -16px; } 
#map.coneria-castle-2f .tile.room { background-position:-16px -16px; } 
#map.coneria-castle-2f .tile.room.wall.tl { background-position:0px 0px; } 
#map.coneria-castle-2f .tile.room.wall.top { background-position:-16px 0px; } 
#map.coneria-castle-2f .tile.room.wall.tr { background-position:-32px 0px; } 
#map.coneria-castle-2f .tile.room.wall.left { background-position:0px -16px; } 
#map.coneria-castle-2f .tile.room.wall.right { background-position:-32px -16px; } 
#map.coneria-castle-2f .tile.room.wall.bl { background-position:0px -32px; } 
#map.coneria-castle-2f .tile.room.wall.bottom { background-position:-16px -32px; } 
#map.coneria-castle-2f .tile.room.wall.br { background-position:-32px -32px; }
#map.coneria-castle-2f .tile.throne.tl { background-position:-16px -16px; } 
#map.coneria-castle-2f .tile.throne.top { background-position:-16px -16px; } 
#map.coneria-castle-2f .tile.throne.tr { background-position:-16px -16px; } 
#map.coneria-castle-2f .tile.throne.bl { background-position:-16px -16px; } 
#map.coneria-castle-2f .tile.throne.bottom { background-position:-16px -16px; } 
#map.coneria-castle-2f .tile.throne.br { background-position:-16px -16px; }
#map.coneria-castle-2f.indoor .tile.door { background-position:-64px -48px; } 
#map.coneria-castle-2f.indoor .tile.statue.left { background-position:-80px -64px; } 
#map.coneria-castle-2f.indoor .tile.statue.right { background-position:-48px -64px; } 
#map.coneria-castle-2f.indoor .tile.room { background-position:-16px -64px; }
#map.coneria-castle-2f.indoor .tile.room.wall.tl { background-position:0px -48px; } 
#map.coneria-castle-2f.indoor .tile.room.wall.top { background-position:-16px -48px; } 
#map.coneria-castle-2f.indoor .tile.room.wall.tr { background-position:-32px -48px; } 
#map.coneria-castle-2f.indoor .tile.room.wall.left { background-position:0px -64px; } 
#map.coneria-castle-2f.indoor .tile.room.wall.right { background-position:-32px -64px; } 
#map.coneria-castle-2f.indoor .tile.room.wall.bl { background-position:0px -80px; } 
#map.coneria-castle-2f.indoor .tile.room.wall.bottom { background-position:-16px -80px; } 
#map.coneria-castle-2f.indoor .tile.room.wall.br { background-position:-32px -80px; }
#map.coneria-castle-2f.indoor .tile.throne.tl { background-position:0px -96px; } 
#map.coneria-castle-2f.indoor .tile.throne.top { background-position:-16px -96px; } 
#map.coneria-castle-2f.indoor .tile.throne.tr { background-position:-32px -96px; } 
#map.coneria-castle-2f.indoor .tile.throne.bl { background-position:0px -112px; } 
#map.coneria-castle-2f.indoor .tile.throne.bottom { background-position:-16px -112px; } 
#map.coneria-castle-2f.indoor .tile.throne.br { background-position:-32px -112px; }

#map.elf-castle .tile { background-image:url(../../images/castle-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.elf-castle .tile.road { background-position:-64px 0px; } 
#map.elf-castle .tile.grass { background-position:-64px -96px; } 
#map.elf-castle .tile.pillar { background-position:-64px -32px; } 
#map.elf-castle .tile.wall { background-position:-64px -16px; } 
#map.elf-castle .tile.wall.left { background-position:-48px -16px; } 
#map.elf-castle .tile.wall.right { background-position:-80px -16px; } 
#map.elf-castle .tile.wall.road.left { background-position:-48px 0px; } 
#map.elf-castle .tile.wall.road.right { background-position:-80px 0px; } 
#map.elf-castle .tile.stairs.up { background-position:-80px -32px; } 
#map.elf-castle .tile.door { background-position:-48px -48px; } 
#map.elf-castle .tile.stool.right { background-position:-16px -16px; } 
#map.elf-castle .tile.stool.left { background-position:-16px -16px; } 
#map.elf-castle .tile.chest { background-position:-16px -16px; } 
#map.elf-castle .tile.bed.top { background-position:-16px -16px; } 
#map.elf-castle .tile.bed.bottom { background-position:-16px -16px; } 
#map.elf-castle .tile.table.top { background-position:-16px -16px; } 
#map.elf-castle .tile.table.bottom { background-position:-16px -16px; } 
#map.elf-castle .tile.statue.left { background-position:-16px -16px; } 
#map.elf-castle .tile.statue.right { background-position:-16px -16px; } 
#map.elf-castle .tile.fireplace { background-position:-16px -16px; } 
#map.elf-castle .tile.room { background-position:-16px -16px; } 
#map.elf-castle .tile.room.wall.tl { background-position:0px 0px; } 
#map.elf-castle .tile.room.wall.top { background-position:-16px 0px; } 
#map.elf-castle .tile.room.wall.tr { background-position:-32px 0px; } 
#map.elf-castle .tile.room.wall.left { background-position:0px -16px; } 
#map.elf-castle .tile.room.wall.right { background-position:-32px -16px; } 
#map.elf-castle .tile.room.wall.bl { background-position:0px -32px; } 
#map.elf-castle .tile.room.wall.bottom { background-position:-16px -32px; } 
#map.elf-castle .tile.room.wall.br { background-position:-32px -32px; }
#map.elf-castle.indoor .tile.door { background-position:-64px -48px; } 
#map.elf-castle.indoor .tile.stool.right { background-position:-48px -80px; } 
#map.elf-castle.indoor .tile.stool.left { background-position:-80px -80px; } 
#map.elf-castle.indoor .tile.chest { background-position:-64px -80px; } 
#map.elf-castle.indoor .tile.bed.top { background-position:-80px -96px; } 
#map.elf-castle.indoor .tile.bed.bottom { background-position:-80px -112px; } 
#map.elf-castle.indoor .tile.table.top { background-position:-48px -96px; } 
#map.elf-castle.indoor .tile.table.bottom { background-position:-48px -112px; } 
#map.elf-castle.indoor .tile.statue.left { background-position:-80px -64px; } 
#map.elf-castle.indoor .tile.statue.right { background-position:-48px -64px; } 
#map.elf-castle.indoor .tile.fireplace { background-position:-64px -64px; }
#map.elf-castle.indoor .tile.room { background-position:-16px -64px; }
#map.elf-castle.indoor .tile.room.wall.tl { background-position:0px -48px; } 
#map.elf-castle.indoor .tile.room.wall.top { background-position:-16px -48px; } 
#map.elf-castle.indoor .tile.room.wall.tr { background-position:-32px -48px; } 
#map.elf-castle.indoor .tile.room.wall.left { background-position:0px -64px; } 
#map.elf-castle.indoor .tile.room.wall.right { background-position:-32px -64px; } 
#map.elf-castle.indoor .tile.room.wall.bl { background-position:0px -80px; } 
#map.elf-castle.indoor .tile.room.wall.bottom { background-position:-16px -80px; } 
#map.elf-castle.indoor .tile.room.wall.br { background-position:-32px -80px; }

#map.astos-castle .tile { background-image:url(../../images/castle-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.astos-castle .tile.road { background-position:-64px 0px; } 
#map.astos-castle .tile.grass { background-position:-64px -96px; } 
#map.astos-castle .tile.pillar { background-position:-64px -32px; } 
#map.astos-castle .tile.wall { background-position:-64px -16px; } 
#map.astos-castle .tile.wall.left { background-position:-48px -16px; } 
#map.astos-castle .tile.wall.right { background-position:-80px -16px; } 
#map.astos-castle .tile.wall.road.left { background-position:-48px 0px; } 
#map.astos-castle .tile.wall.road.right { background-position:-80px 0px; } 
#map.astos-castle .tile.stairs.up { background-position:-80px -32px; } 
#map.astos-castle .tile.door { background-position:-48px -48px; } 
#map.astos-castle .tile.stool.right { background-position:-16px -16px; } 
#map.astos-castle .tile.stool.left { background-position:-16px -16px; } 
#map.astos-castle .tile.chest { background-position:-16px -16px; } 
#map.astos-castle .tile.bed.top { background-position:-16px -16px; } 
#map.astos-castle .tile.bed.bottom { background-position:-16px -16px; } 
#map.astos-castle .tile.table.top { background-position:-16px -16px; } 
#map.astos-castle .tile.table.bottom { background-position:-16px -16px; } 
#map.astos-castle .tile.statue.left { background-position:-16px -16px; } 
#map.astos-castle .tile.statue.right { background-position:-16px -16px; } 
#map.astos-castle .tile.fireplace { background-position:-16px -16px; } 
#map.astos-castle .tile.room { background-position:-16px -16px; } 
#map.astos-castle .tile.room.wall.tl { background-position:0px 0px; } 
#map.astos-castle .tile.room.wall.top { background-position:-16px 0px; } 
#map.astos-castle .tile.room.wall.tr { background-position:-32px 0px; } 
#map.astos-castle .tile.room.wall.left { background-position:0px -16px; } 
#map.astos-castle .tile.room.wall.right { background-position:-32px -16px; } 
#map.astos-castle .tile.room.wall.bl { background-position:0px -32px; } 
#map.astos-castle .tile.room.wall.bottom { background-position:-16px -32px; } 
#map.astos-castle .tile.room.wall.br { background-position:-32px -32px; }
#map.astos-castle .tile.throne.tl { background-position:-16px -16px; } 
#map.astos-castle .tile.throne.top { background-position:-16px -16px; } 
#map.astos-castle .tile.throne.tr { background-position:-16px -16px; } 
#map.astos-castle .tile.throne.bl { background-position:-16px -16px; } 
#map.astos-castle .tile.throne.bottom { background-position:-16px -16px; } 
#map.astos-castle .tile.throne.br { background-position:-16px -16px; }
#map.astos-castle.indoor .tile.door { background-position:-64px -48px; } 
#map.astos-castle.indoor .tile.stool.right { background-position:-48px -80px; } 
#map.astos-castle.indoor .tile.stool.left { background-position:-80px -80px; } 
#map.astos-castle.indoor .tile.chest { background-position:-64px -80px; } 
#map.astos-castle.indoor .tile.bed.top { background-position:-80px -96px; } 
#map.astos-castle.indoor .tile.bed.bottom { background-position:-80px -112px; } 
#map.astos-castle.indoor .tile.table.top { background-position:-48px -96px; } 
#map.astos-castle.indoor .tile.table.bottom { background-position:-48px -112px; } 
#map.astos-castle.indoor .tile.statue.left { background-position:-80px -64px; } 
#map.astos-castle.indoor .tile.statue.right { background-position:-48px -64px; } 
#map.astos-castle.indoor .tile.fireplace { background-position:-64px -64px; }
#map.astos-castle.indoor .tile.room { background-position:-16px -64px; }
#map.astos-castle.indoor .tile.room.wall.tl { background-position:0px -48px; } 
#map.astos-castle.indoor .tile.room.wall.top { background-position:-16px -48px; } 
#map.astos-castle.indoor .tile.room.wall.tr { background-position:-32px -48px; } 
#map.astos-castle.indoor .tile.room.wall.left { background-position:0px -64px; } 
#map.astos-castle.indoor .tile.room.wall.right { background-position:-32px -64px; } 
#map.astos-castle.indoor .tile.room.wall.bl { background-position:0px -80px; } 
#map.astos-castle.indoor .tile.room.wall.bottom { background-position:-16px -80px; } 
#map.astos-castle.indoor .tile.room.wall.br { background-position:-32px -80px; }
#map.astos-castle.indoor .tile.throne.tl { background-position:0px -96px; } 
#map.astos-castle.indoor .tile.throne.top { background-position:-16px -96px; } 
#map.astos-castle.indoor .tile.throne.tr { background-position:-32px -96px; } 
#map.astos-castle.indoor .tile.throne.bl { background-position:0px -112px; } 
#map.astos-castle.indoor .tile.throne.bottom { background-position:-16px -112px; } 
#map.astos-castle.indoor .tile.throne.br { background-position:-32px -112px; }