#map.matoyas-cave .tile { background-image:url(../../images/matoya-cave-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.matoyas-cave .tile.floor { background-position:-16px -16px; } 
#map.matoyas-cave .tile.wall { background-position:-16px 0px; } 
#map.matoyas-cave .tile.wall.left { background-position:0px 0px; } 
#map.matoyas-cave .tile.wall.right { background-position:-32px 0px; } 
#map.matoyas-cave .tile.wall.floor.left { background-position:0px -16px; } 
#map.matoyas-cave .tile.wall.floor.right { background-position:-32px -16px; } 
#map.matoyas-cave .tile.stairs.up { background-position:-48px -16px; } 
#map.matoyas-cave .tile.door { background-position:-48px -64px; } 
#map.matoyas-cave .tile.skull { background-position:-16px -48px; } 
#map.matoyas-cave .tile.chest { background-position:-16px -48px; } 
#map.matoyas-cave .tile.table { background-position:-16px -48px; } 
#map.matoyas-cave .tile.chair { background-position:-16px -48px; } 
#map.matoyas-cave .tile.pots { background-position:-16px -48px; } 
#map.matoyas-cave .tile.room { background-position:-16px -48px; } 
#map.matoyas-cave .tile.room.wall.tl { background-position:0px -32px; } 
#map.matoyas-cave .tile.room.wall.top { background-position:-16px -32px; } 
#map.matoyas-cave .tile.room.wall.tr { background-position:-32px -32px; } 
#map.matoyas-cave .tile.room.wall.left { background-position:0px -48px; } 
#map.matoyas-cave .tile.room.wall.right { background-position:-32px -48px; } 
#map.matoyas-cave .tile.room.wall.bl { background-position:0px -64px; } 
#map.matoyas-cave .tile.room.wall.bottom { background-position:-16px -64px; } 
#map.matoyas-cave .tile.room.wall.br { background-position:-32px -64px; }
#map.matoyas-cave.indoor .tile.door { background-position:-48px -80px; } 
#map.matoyas-cave.indoor .tile.skull { background-position:-48px -32px; } 
#map.matoyas-cave.indoor .tile.chest { background-position:-48px -128px; } 
#map.matoyas-cave.indoor .tile.table { background-position:-48px -96px; } 
#map.matoyas-cave.indoor .tile.chair { background-position:-48px -112px; } 
#map.matoyas-cave.indoor .tile.pots { background-position:-48px -48px; } 
#map.matoyas-cave.indoor .tile.room { background-position:-16px -96px; } 
#map.matoyas-cave.indoor .tile.room.wall.tl { background-position:0px -80px; } 
#map.matoyas-cave.indoor .tile.room.wall.top { background-position:-16px -80px; } 
#map.matoyas-cave.indoor .tile.room.wall.tr { background-position:-32px -80px; } 
#map.matoyas-cave.indoor .tile.room.wall.left { background-position:0px -96px; } 
#map.matoyas-cave.indoor .tile.room.wall.right { background-position:-32px -96px; } 
#map.matoyas-cave.indoor .tile.room.wall.bl { background-position:0px -112px; } 
#map.matoyas-cave.indoor .tile.room.wall.bottom { background-position:-16px -112px; } 
#map.matoyas-cave.indoor .tile.room.wall.br { background-position:-32px -112px; }

#map.dwarf-cave .tile { background-image:url(../../images/dwarf-cave-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.dwarf-cave .tile.floor { background-position:-48px 0px; } 
#map.dwarf-cave .tile.wall { background-position:-48px -16px; } 
#map.dwarf-cave .tile.mountain { background-position:-48px -32px; } 
#map.dwarf-cave .tile.stairs.up { background-position:-32px -96px; } 
#map.dwarf-cave .tile.door { background-position:-48px -64px; } 
#map.dwarf-cave .tile.anvil { background-position:-16px -16px; } 
#map.dwarf-cave .tile.forge { background-position:-16px -16px; } 
#map.dwarf-cave .tile.sword { background-position:-16px -16px; } 
#map.dwarf-cave .tile.hammer { background-position:-16px -16px; } 
#map.dwarf-cave .tile.table { background-position:-16px -16px; } 
#map.dwarf-cave .tile.chair { background-position:-16px -16px; }
#map.dwarf-cave .tile.chest { background-position:-16px -16px; } 
#map.dwarf-cave .tile.room { background-position:-16px -16px; } 
#map.dwarf-cave .tile.room.wall.tl { background-position:0px 0px; } 
#map.dwarf-cave .tile.room.wall.top { background-position:-16px 0px; } 
#map.dwarf-cave .tile.room.wall.tr { background-position:-32px 0px; } 
#map.dwarf-cave .tile.room.wall.left { background-position:0px -16px; } 
#map.dwarf-cave .tile.room.wall.right { background-position:-32px -16px; } 
#map.dwarf-cave .tile.room.wall.bl { background-position:0px -32px; } 
#map.dwarf-cave .tile.room.wall.bottom { background-position:-16px -32px; } 
#map.dwarf-cave .tile.room.wall.br { background-position:-32px -32px; }
#map.dwarf-cave.indoor .tile.floor { background-position:-16px -64px; } 
#map.dwarf-cave.indoor .tile.mountain { background-position:-48px -48px; } 
#map.dwarf-cave.indoor .tile.door { background-position:-48px -80px; }
#map.dwarf-cave.indoor .tile.anvil { background-position:0px -112px; } 
#map.dwarf-cave.indoor .tile.forge { background-position:-32px -112px; } 
#map.dwarf-cave.indoor .tile.sword { background-position:-48px -96px; } 
#map.dwarf-cave.indoor .tile.hammer { background-position:-16px -112px; } 
#map.dwarf-cave.indoor .tile.table { background-position:-16px -96px; } 
#map.dwarf-cave.indoor .tile.chair { background-position:0px -96px; } 
#map.dwarf-cave.indoor .tile.chest { background-position:-48px -112px; } 
#map.dwarf-cave.indoor .tile.room { background-position:-16px -64px; } 
#map.dwarf-cave.indoor .tile.room.wall.tl { background-position:0px -48px; } 
#map.dwarf-cave.indoor .tile.room.wall.top { background-position:-16px -48px; } 
#map.dwarf-cave.indoor .tile.room.wall.tr { background-position:-32px -48px; } 
#map.dwarf-cave.indoor .tile.room.wall.left { background-position:0px -64px; } 
#map.dwarf-cave.indoor .tile.room.wall.right { background-position:-32px -64px; } 
#map.dwarf-cave.indoor .tile.room.wall.bl { background-position:0px -80px; } 
#map.dwarf-cave.indoor .tile.room.wall.bottom { background-position:-16px -80px; } 
#map.dwarf-cave.indoor .tile.room.wall.br { background-position:-32px -80px; }

#map.titans-tunnel .tile { background-image:url(../../images/titans-tunnel-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.titans-tunnel .tile.floor { background-position:-48px 0px; } 
#map.titans-tunnel .tile.wall { background-position:-48px -16px; } 
#map.titans-tunnel .tile.mountain { background-position:-48px -32px; } 
#map.titans-tunnel .tile.mountain.other { background-position:-48px -32px; } 
#map.titans-tunnel .tile.stairs.up { background-position:-32px -96px; } 
#map.titans-tunnel .tile.door { background-position:-48px -64px; }
#map.titans-tunnel .tile.chest { background-position:-16px -16px; } 
#map.titans-tunnel .tile.room { background-position:-16px -16px; } 
#map.titans-tunnel .tile.room.wall.tl { background-position:0px 0px; } 
#map.titans-tunnel .tile.room.wall.top { background-position:-16px 0px; } 
#map.titans-tunnel .tile.room.wall.tr { background-position:-32px 0px; } 
#map.titans-tunnel .tile.room.wall.left { background-position:0px -16px; } 
#map.titans-tunnel .tile.room.wall.right { background-position:-32px -16px; } 
#map.titans-tunnel .tile.room.wall.bl { background-position:0px -32px; } 
#map.titans-tunnel .tile.room.wall.bottom { background-position:-16px -32px; } 
#map.titans-tunnel .tile.room.wall.br { background-position:-32px -32px; }
#map.titans-tunnel.indoor .tile.floor { background-position:-16px -64px; } 
#map.titans-tunnel.indoor .tile.mountain { background-position:-48px -48px; } 
#map.titans-tunnel.indoor .tile.mountain.other { background-position:-48px -32px; } 
#map.titans-tunnel.indoor .tile.door { background-position:-48px -80px; }
#map.titans-tunnel.indoor .tile.chest { background-position:-48px -112px; } 
#map.titans-tunnel.indoor .tile.room { background-position:-16px -64px; } 
#map.titans-tunnel.indoor .tile.room.wall.tl { background-position:0px -48px; } 
#map.titans-tunnel.indoor .tile.room.wall.top { background-position:-16px -48px; } 
#map.titans-tunnel.indoor .tile.room.wall.tr { background-position:-32px -48px; } 
#map.titans-tunnel.indoor .tile.room.wall.left { background-position:0px -64px; } 
#map.titans-tunnel.indoor .tile.room.wall.right { background-position:-32px -64px; } 
#map.titans-tunnel.indoor .tile.room.wall.bl { background-position:0px -80px; } 
#map.titans-tunnel.indoor .tile.room.wall.bottom { background-position:-16px -80px; } 
#map.titans-tunnel.indoor .tile.room.wall.br { background-position:-32px -80px; }