#map.earth-cave .tile { background-image:url(../../images/earth-cave-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.earth-cave .tile.floor { background-position:-48px 0px; } 
#map.earth-cave .tile.wall { background-position:-64px 0px; } 
#map.earth-cave .tile.wall.left { background-position:-48px -32px; } 
#map.earth-cave .tile.wall.right { background-position:-64px -32px; } 
#map.earth-cave .tile.wall.floor.left { background-position:-48px -48px; } 
#map.earth-cave .tile.wall.floor.right { background-position:-64px -48px; } 
#map.earth-cave .tile.stairs.up { background-position:-80px -32px; } 
#map.earth-cave .tile.stairs.down { background-position:-80px -48px; } 
#map.earth-cave .tile.mountain { background-position:-80px 0px; } 
#map.earth-cave .tile.mountain.other { background-position:-80px -32px; } 
#map.earth-cave .tile.door { background-position:-80px -96px; } 
#map.earth-cave .tile.chest { background-position:-16px -16px; } 
#map.earth-cave .tile.statue.left { background-position:-16px -16px; } 
#map.earth-cave .tile.statue.right { background-position:-16px -16px; } 
#map.earth-cave .tile.room { background-position:-16px -16px; } 
#map.earth-cave .tile.room.wall { background-image:url(../../images/earth-cave-sheet.png); }
#map.earth-cave .tile.room.wall.tl { background-position:0px 0px; } 
#map.earth-cave .tile.room.wall.top { background-position:-16px 0px; } 
#map.earth-cave .tile.room.wall.tr { background-position:-32px 0px; } 
#map.earth-cave .tile.room.wall.left { background-position:0px -16px; } 
#map.earth-cave .tile.room.wall.right { background-position:-32px -16px; } 
#map.earth-cave .tile.room.wall.bl { background-position:0px -32px; } 
#map.earth-cave .tile.room.wall.bottom { background-position:-16px -32px; } 
#map.earth-cave .tile.room.wall.br { background-position:-32px -32px; }

#map.earth-cave.indoor .tile.floor { background-position:-48px -16px; } 
#map.earth-cave.indoor .tile.wall { background-position:-64px -16px; } 
#map.earth-cave.indoor .tile.wall.left { background-position:-48px -64px; } 
#map.earth-cave.indoor .tile.wall.right { background-position:-64px -64px; } 
#map.earth-cave.indoor .tile.wall.floor.left { background-position:-48px -80px; } 
#map.earth-cave.indoor .tile.wall.floor.right { background-position:-64px -80px; } 
#map.earth-cave.indoor .tile.stairs.up { background-position:-80px -64px; } 
#map.earth-cave.indoor .tile.stairs.down { background-position:-80px -80px; } 
#map.earth-cave.indoor .tile.mountain { background-position:-80px -16px; } 
#map.earth-cave.indoor .tile.mountain.other { background-position:-80px -32px; } 
#map.earth-cave.indoor .tile.door { background-position:-80px -112px; } 
#map.earth-cave.indoor .tile.chest { background-position:-16px -64px; }
#map.earth-cave.indoor .tile.statue.left { background-position:-64px -128px; } 
#map.earth-cave.indoor .tile.statue.right { background-position:-48px -128px; } 
#map.earth-cave.indoor .tile.room { background-image:none; } 
#map.earth-cave.indoor .tile.room.wall { background-image:url(../../images/earth-cave-sheet.png); } 
#map.earth-cave.indoor .tile.room.wall.tl { background-position:0px -48px; } 
#map.earth-cave.indoor .tile.room.wall.top { background-position:-16px -48px; } 
#map.earth-cave.indoor .tile.room.wall.tr { background-position:-32px -48px; } 
#map.earth-cave.indoor .tile.room.wall.left { background-position:0px -64px; } 
#map.earth-cave.indoor .tile.room.wall.right { background-position:-32px -64px; } 
#map.earth-cave.indoor .tile.room.wall.bl { background-position:0px -80px; } 
#map.earth-cave.indoor .tile.room.wall.bottom { background-position:-16px -80px; } 
#map.earth-cave.indoor .tile.room.wall.br { background-position:-32px -80px; }