#map.temple-of-fiends .tile { background-image:url(../../images/temple-of-fiends-sheet.png); background-repeat:no-repeat; background-position:1000em 1000em; }
#map.temple-of-fiends .tile.floor { background-position:-16px -16px; } 
#map.temple-of-fiends .tile.wall { background-position:-16px 0px; } 
#map.temple-of-fiends .tile.wall.left { background-position:0px 0px; } 
#map.temple-of-fiends .tile.wall.right { background-position:-32px 0px; } 
#map.temple-of-fiends .tile.wall.floor.left { background-position:0px -16px; } 
#map.temple-of-fiends .tile.wall.floor.right { background-position:-32px -16px; } 
#map.temple-of-fiends .tile.stairs.up { background-position:-16px -32px; } 
#map.temple-of-fiends .tile.door { background-position:-32px -32px; } 
#map.temple-of-fiends .tile.chest { background-position:-64px -16px; } 
#map.temple-of-fiends .tile.gargoyle { background-position:-64px -16px; } 
#map.temple-of-fiends .tile.statue { background-position:-64px -16px; } 
#map.temple-of-fiends .tile.orb { background-position:-64px -16px; } 
#map.temple-of-fiends .tile.pillar { background-position:0px -32px; } 
#map.temple-of-fiends .tile.room { background-position:-64px -16px; } 
#map.temple-of-fiends .tile.room.wall.tl { background-position:-48px 0px; } 
#map.temple-of-fiends .tile.room.wall.top { background-position:-64px 0px; } 
#map.temple-of-fiends .tile.room.wall.tr { background-position:-80px 0px; } 
#map.temple-of-fiends .tile.room.wall.left { background-position:-48px -16px; } 
#map.temple-of-fiends .tile.room.wall.right { background-position:-80px -16px; } 
#map.temple-of-fiends .tile.room.wall.bl { background-position:-48px -32px; } 
#map.temple-of-fiends .tile.room.wall.bottom { background-position:-64px -32px; } 
#map.temple-of-fiends .tile.room.wall.br { background-position:-80px -32px; }

#map.temple-of-fiends.indoor .tile.floor { background-position:-16px -64px; }
#map.temple-of-fiends.indoor .tile.wall { background-position:-16px -48px; } 
#map.temple-of-fiends.indoor .tile.wall.left { background-position:0px -48px; } 
#map.temple-of-fiends.indoor .tile.wall.right { background-position:-32px -48px; } 
#map.temple-of-fiends.indoor .tile.wall.floor.left { background-position:0px -64px; } 
#map.temple-of-fiends.indoor .tile.wall.floor.right { background-position:-32px -64px; } 
#map.temple-of-fiends.indoor .tile.stairs.up { background-position:-16px -80px; }  
#map.temple-of-fiends.indoor .tile.door { background-position:-32px -80px; } 
#map.temple-of-fiends.indoor .tile.chest { background-position:0px -96px; } 
#map.temple-of-fiends.indoor .tile.gargoyle.left { background-position:-32px -112px; } 
#map.temple-of-fiends.indoor .tile.gargoyle.right { background-position:0px -112px; } 
#map.temple-of-fiends.indoor .tile.statue { background-position:-32px -96px; } 
#map.temple-of-fiends.indoor .tile.orb.top { background-position:-16px -96px; } 
#map.temple-of-fiends.indoor .tile.orb.bottom { background-position:-16px -112px; } 
#map.temple-of-fiends.indoor .tile.pillar { background-position:0px -80px; } 
#map.temple-of-fiends.indoor .tile.room { background-position:-64px -64px; } 
#map.temple-of-fiends.indoor .tile.room.wall.tl { background-position:-48px -48px; } 
#map.temple-of-fiends.indoor .tile.room.wall.top { background-position:-64px -48px; } 
#map.temple-of-fiends.indoor .tile.room.wall.tr { background-position:-80px -48px; } 
#map.temple-of-fiends.indoor .tile.room.wall.left { background-position:-48px -64px; } 
#map.temple-of-fiends.indoor .tile.room.wall.right { background-position:-80px -64px; } 
#map.temple-of-fiends.indoor .tile.room.wall.bl { background-position:-48px -80px; } 
#map.temple-of-fiends.indoor .tile.room.wall.bottom { background-position:-64px -80px; } 
#map.temple-of-fiends.indoor .tile.room.wall.br { background-position:-80px -80px; }