.maps { color:white; padding:1em; }

#townSelector { margin-bottom:2em; }

.town.coneria { width:560px; height:416px; }
.town.pravoka { width:656px; height:416px; }

.town .tile.none { background-position:-240px -32px; } 
.town .tile.shadow { background-position:-224px -64px; }
.town .tile.shadow.bottom { background-position:-224px -48px; }
.town .tile.bridge { background-position:-80px -208px; }
.town .tile.bridge.left { background-position:-64px -208px; }
.town .tile.door { background-position:-240px -16px; }
.town .tile.fence { background-position:-272px -64px; }
.town .tile.fountain { background-position:-272px -16px; }
.town .tile.road { background-position:-208px 0px; }
.town .tile.road.tl { background-position:-288px -32px; }
.town .tile.road.tr { background-position:-304px -32px; }
.town .tile.road.bl { background-position:-288px -48px; }
.town .tile.road.br { background-position:-304px -48px; }
.town .tile.road.shadow.top { background-position:-112px -208px; }
.town .tile.road.shadow.bottom { background-position:-112px -224px; }
.town .tile.roof.top { background-position:-224px 0px; }
.town .tile.roof.bottom { background-position:-224px -16px; }
.town .tile.roof.angle { background-position:-256px -16px; }
.town .tile.sign.armor { background-position:-272px 0px; }
.town .tile.sign.black.magic { background-position:-240px 0px; }
.town .tile.sign.clinic { background-position:-304px -16px; }
.town .tile.sign.item { background-position:-304px 0px; }
.town .tile.sign.inn { background-position:-288px -16px; }
.town .tile.sign.weapon { background-position:-288px 0px; }
.town .tile.sign.white.magic { background-position:-256px 0px; }
.town .tile.shop.wall { background-position:-224px -32px; }
.town .tile.shop.wall.multi.window { background-position:-64px -224px; }
.town .tile.stream { background-position:-256px -32px; }
.town .tile.stream.shadow.top { background-position:-96px -208px; }
.town .tile.stream.shadow.bottom { background-position:-96px -224px; }
.town .tile.trees { background-position:-272px -48px; }
.town .tile.trees.bottom { background-position:-272px -32px; }
.town .tile.wall { background-position:-240px -64px; }
.town .tile.wall.right { background-position:-240px -48px; }
.town .tile.wall.bottom { background-position:-256px -64px; }
.town .tile.wall.top { background-position:-256px -64px; }
.town .tile.wall.tl { background-position:-240px -64px; }
.town .tile.wall.bl { background-position:-240px -64px; }
.town .tile.wall.br { background-position:-240px -64px; }
.town .tile.wall.tl.bottom { background-position:-256px -48px; }
.town .tile.wall.tr.bottom { background-position:-256px -48px; }
.town .tile.wall.shadow { background-position:-256px -64px; }
.town .tile.well { background-position:-48px -224px; }

