.maps { color:white; padding:1em; }

#townSelector { margin-bottom:2em; }

.town { width:1000px; height:416px; }
.town.map .tile { background-image:url(../../images/map-tiles-new.png); }

/* y=-112 */
.town .tile.none { background-position:-128px -128px; } 
.town .tile.shadow { background-position:-144px -128px; }
.town .tile.shadow.full { background-position:-144px -112px; }
.town .tile.bridge { background-position:-224px -128px; }
.town .tile.bridge.vertical { background-position:-224px -112px; }
.town .tile.desert { background-position:-192px -128px; }
.town .tile.door { background-position:-256px -128px; }
.town .tile.fence { background-position:-176px -112px; }
.town .tile.fountain { background-position:-336px -128px; }
.town .tile.grave { background-position:-176px -128px; }
.town .tile.hay { background-position:-192px -112px; }
.town .tile.road { background-position:-80px -112px; } /* road.tr uses this too */
.town .tile.road.tl { background-position:-64px -112px; }
.town .tile.road.bl { background-position:-64px -128px; }
.town .tile.road.br { background-position:-80px -128px; }
.town .tile.road.shadow.top { background-position:-96px -112px; }
.town .tile.road.shadow.bottom { background-position:-96px -128px; }
.town .tile.roof.top { background-position:-240px -112px; }
.town .tile.roof.bottom { background-position:-240px -128px; }
.town .tile.roof.angle { background-position:-256px -112px; }
.town .tile.sign.armor { background-position:-288px -128px; }
.town .tile.sign.black.magic { background-position:-304px -128px; }
.town .tile.sign.clinic { background-position:-320px -128px; }
.town .tile.sign.item { background-position:-320px -112px; }
.town .tile.sign.inn { background-position:-336px -112px; }
.town .tile.sign.weapon { background-position:-288px -112px; }
.town .tile.sign.white.magic { background-position:-304px -112px; }
.town .tile.shop.wall { background-position:-272px -128px; }
.town .tile.shop.wall.multi.window { background-position:-272px -112px; }
.town .tile.stream { background-position:-128px -112px; }
.town .tile.stream.shadow.top { background-position:-112px -112px; }
.town .tile.stream.shadow.bottom { background-position:-112px -128px; }
.town .tile.submarine { background-position:-208px -128px; }
.town .tile.trees { background-position:-160px -128px; }
.town .tile.trees.double { background-position:-160px -112px; }
.town .tile.wall { background-position:-16px -112px; }
.town .tile.wall.vertical { background-position:0px -112px; }
.town .tile.wall.vertical.shadow { background-position:-48px -128px; }
.town .tile.wall.top.half.shadow { background-position:-48px -112px; }
.town .tile.wall.half { background-position:-16px -128px; }
.town .tile.wall.half.start { background-position:0px -128px; }
.town .tile.wall.half.shadow { background-position:-32px -128px; }
.town .tile.wall.half.corner.shadow { background-position:-32px -112px; }
.town .tile.well { background-position:-208px -112px; }

